<head>
	<ul class="nav nav-tabs">
		<li><%= link_to "Profile", profile_path %></li>
		<li><%= link_to "DashBoard", dashboard_path %></li>
		<li><%= link_to "Calendar", calendar_path %></li>
		<li><%= link_to "Jobs", jobs_path %></li>
	</ul>
</head>
<body>
	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="#">Calander</a></li>
		  <li><a href="#">List</a></li>
		  <li class="active">Data</li>
		</ol>
		<span class="label label-default">Today</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">RSVP'ed</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Deadline</span>
		<span class="label label-danger">Overdue</span>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>	
</body>