<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      <ul class="nav navbar-nav">
	        <li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        <li><%= link_to "Event", '/users/calendar' %></li>
	        <li><%= link_to "Jobs", '/users/jobs' %></li>
	      </ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
	<div class="jumbotron jumbotron-carousel hidden-print">
		<div ="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 text-center">
					<h1>
						<i class="fa fa-calendar-o"></i>
							Events
					</h1>
					<h5>
						<i class="fa fa-bell-o"></i>
							Keep Tracking on Deadlines and Upcoming Events
					</h5>
				</div>	
			</div>
		</div>
	</div> 
	<div class="container">
		<div class="col-xs-3">
    		<div class="panel panel-default">
				 <div class="panel-heading">
					<h2 class="panel-title">Search</h2>
				 </div>
				  <div class="panel-body">
					<h5>Keyword <small>Search keywords</small></h5>
				    <div class="input-group">
					    <input type="text" class="form-control" placeholder="Search">
					    <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					     </span>
					</div><!-- /input-group -->
				  </div>
			</div>	
			<div type="button" class="btn btn-primary">Create</div>
    	</div>
		<div class="col-xs-9">	
			<span class="label label-default">Today</span>
			<span class="label label-primary">Primary</span>
			<span class="label label-success">RSVP'ed</span>
			<span class="label label-info">Info</span>
			<span class="label label-warning">Deadline</span>
			<span class="label label-danger">Overdue</span>
			<ol class="breadcrumb">
			  <li><a href="#">Event List</a></li>
			  
			</ol>

		</div>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>	
</body>