<style type="text/css">
.jumbotron {
	margin-top: -10px;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

var SUCCESS = 1

$(document).ready(function(){
	$('#created').hide();
    $('#createButton').click(function(e){
        $('#message').hide();
        e.preventDefault();
        var title       = $(      '#title').val()
        var job_type    = $(   '#job_type').val()
        var skills      = $(     '#skills').val()
        var tags        = $(       '#tags').val()
        var description = $('#description').val()
        var url         = $(        '#url').val()
        //console.log(username);
        $.ajax({
            type:        'POST',
            url:         '/posting/add',
            data:        JSON.stringify({title: title, job_type: job_type, skills: skills, tags: tags, info: description, url: url}),
            contentType: 'application/json',
            dataType:    'json',
            success:     function(data) {
                //console.log(data['count']);
                if (data['errCode'] == SUCCESS) {
					$('#created').show();
                }
            }
        });
    });

});
</script>

<head>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
	        	<li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        	<li><%= link_to "Event", events_path %></li>
	        	<li><%= link_to "Jobs", '/posting/all' %></li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
			    <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
			</ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
	<div class="container" style="width:500px;margin: 0 auto;">
		<h1 class="page-header">Create A Post</h1>
		<h5>Job Title <small>Insert the job title here. </small></h5>
		<input type="text" class="form-control" placeholder="Posting Title" id="title">
		<h5>Job Type <small>Insert the job type here. </small></h5>
		<select class="form-control">
			<option>Full-time</option>
			<option>Internship</option>
			<option>Part-time</option>
		</select>
		<h5>Skills <small>Insert skills required for the job. </small></h5>
		<input type="text" class="form-control" placeholder="Skills" id="skills">
		<h5>Tags <small>Insert keywords that describe the job. </small></h5>
		<input type="text" class="form-control" placeholder="Tags" id="tags">
		<h5>Job Description <small>Insert a pharagraph of job description. </small></h5>
		<textarea class="form-control" rows="3" id="description"></textarea>
		<h5>Job Application URL <small>Insert URL to job application. </small></h5>
		<input type="text" class="form-control" placeholder="Job Application URL" id="url">
		<br></br>
		<div type="submit" class="btn btn-primary" id="createButton">Create</div>
	</div>
    <div id="created">
    	Success
    </div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>
</body>
