<head>
	<ul class="nav nav-tabs">
		<li><%= link_to "Profile", profile_path %></li>
		<li><%= link_to "DashBoard", dashboard_path %></li>
		<li><%= link_to "Calendar", calendar_path %></li>
		<li><%= link_to "Jobs", jobs_path %></li>
	</ul>
</head>
<body>
	<div class="container">
		<div class="col-xs-7">
			<br></br>
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Upcoming Events</h3>
			  	</div>
			  	<div class="panel-body">
			    	Panel content
			  	</div>
			</div>

			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Upcoming Deadline</h3>
			  	</div>
			  	<div class="panel-body">
			    	Panel content
			  	</div>
			</div>
		</div>
		<div class="col-xs-5">
			<br></br>
			<div class="panel panel-default">
			  	<div class="panel-body">
			    	Calendar Goes Here
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Upcoming Events</h3>
			  	</div>
			  	<div class="panel-body">
			    	Panel content
			  	</div>
			</div>

			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Upcoming Deadline</h3>
			  	</div>
			  	<div class="panel-body">
			    	Panel content
			  	</div>
			</div>
		</div>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>
</body>