<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-bars fa-lg"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
	        	<li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        	<li><%= link_to "Event", '/users/calendar' %></li>
	        	<li><%= link_to "Jobs", '/users/jobs' %></li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
			    <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
			</ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
	<div class="jumbotron jumbotron-carousel hidden-print">
		<div ="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 text-center">
					<h1>
						<i class="fa fa-newspaper-o"></i>
							Dashboard
					</h1>
					<h5>
						<i class="fa fa-bell-o"></i>
							Keep Tracking on Deadlines and Upcoming Events
					</h5>
				</div>	
			</div>
		</div>
	</div>  	
	<div class="container">
		<div class="col-xs-8">
			<br></br>
			<div class="panel panel-default">
				<!-- Default panel contents -->
			 	<div class="panel-heading">
			 		<h3 class="panel-title">Saved Events</h3>
			 	</div>
			  	<div class="panel-body">
			    	<p>Starred Events by a user will be listed here.</p>
			  	</div>

			  	<!-- Table -->
			  	<table style="width:100%">
				  	<tr>
				    	<th>Event Name</th>
				    	<th>Company</th> 
				    	<th>Event Date</th>
				  	</tr>
				  	<tr>
				    	<td>Google Workshop</td>
				    	<td>Google</td> 
				    	<td>October 23 2014</td>
				  	</tr>
				</table>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
			 	<div class="panel-heading">
			 		<h3 class="panel-title">Saved Postings</h3>
			 	</div>
			  	<div class="panel-body">
			    	<p>Starred Postings by a user will be listed here.</p>
			  	</div>

			  	<!-- Table -->
			  	<table style="width:100%">
				  	<tr>
				    	<th>Event Name</th>
				    	<th>Company</th> 
				    	<th>Event Date</th>
				  	</tr>
				  	<tr>
				    	<td>Google Workshop</td>
				    	<td>Google</td> 
				    	<td>October 23 2014</td>
				  	</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-4">
			<br></br>
			<div class="panel panel-danger">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Upcoming Deadline</h3>
			  	</div>
			  	<div class="panel-body">
			    	Panel content
			  	</div>
			</div>
		</div>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>
</body>