<body>	
	<div id="wrap">
		<div class="navbar navbar-inverse navbar-fixed-top hidden-print">
			<div class="container">
				<div class="navbar-header">
			      <a class="navbar-brand" href="/">
			      	<i class="fa fa-home"></i>
			      	Callisto ReInvented
			      </a>
			    </div>
			    <div class="navbar-collapse collapse">
			    	<ul class="nav navbar-nav">
			    		<!-- nav bar buttons go here if needed -->
			    	</ul>
					<ul class="nav navbar-nav navbar-right">
			    		<li><%= link_to "Sign In",  new_user_session_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="jumbotron" class="jumbotron jumbotron-carousel hidden-print">
			<div ="container">
				<center>
					<span class="cr-icon">CR</span>
				</center>
				<h1>Callisto ReInvented</h1>
				<p class="lead">
					<i class="fa fa-search"></i>
					Ideal Job Searching for College Students
				</p>
				<div class="action">
					<h2>
						<i class="fa fa-sign-in"></i>
						<%= link_to "Sign Up",  new_user_registration_path %>
					</h2>
				</div> 
			</div>
		</div>
		<div id="jumbotron-icon" class="jumbotron jumbotron-icon">

		</div>
		<div class="container">
			
			<center>
				<div class="list">
					<h3 class="home-title">Simple Job Search, Optimize Search Result</h3>
					<p class="sub-home-title"> Callisto ReInvented has a better result for the job searching, using a single or multiple keywords and stuents can discover various jobs more easily and efficiently. </p>
					<hr class="half-rule">
				</div>
			</center>
			
			<div class="list">
				<section id="why" class="feature-list">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<h3>
								<i class="fa fa-search"></i>
								Easier Job Searching
							</h3>
							<p> Simplied functionalities. </p>
						</div>
						<div class="col-md-4 col-sm-6">
							<h3>
								<i class="fa fa-pencil-square-o"></i>
								Effective Profile Editting
							</h3>
							<p> You can manage and edit your profile easily. </p>
						</div>
						<div class="col-md-4 col-sm-6">
							<h3>
								<i class="fa fa-graduation-cap"></i>
								Prepare your graduation
							</h3>
							<p> Find the perfect job before your graduation! </p>
						</div>
						<div class="col-md-4 col-sm-6">
							<h3>
								<i class="fa fa-check-square-o"></i>
								Better Searching Algorithm
							</h3>
							<p> Find the perfect job before your graduation! </p>
						</div>
						<div class="col-md-4 col-sm-6">
							<h3>
								<i class="fa fa-thumbs-o-up"></i>
								Job Recommendations
							</h3>
							<p> Find the perfect job before your graduation! </p>
						</div>
						<div class="col-md-4 col-sm-6">
							<h3>
								<i class="fa fa-times-circle"></i>
								Simplified Functionality
							</h3>
							<p> Find the perfect job before your graduation! </p>
						</div>
					</div>
			</div>
		</div>
	</div>
</body>