<body>	
	<div id="wrap">
		<div class="navbar navbar-inverse navbar-fixed-top hidden-print">
			<div class="container">
				<div class="navbar-header">
			      <a class="navbar-brand" href="/">
			      	<i class="fa fa-home"></i>
			      	Callisto ReInvented
			      </a>
			    </div>
			    <div class="navbar-collapse collapse">
			    	<ul class="nav navbar-nav">
			    		<!-- nav bar buttons go here if needed -->
			    	</ul>
					<ul class="nav navbar-nav navbar-right">
			    		<li><%= link_to "Sign In",  new_user_session_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="jumbotron" class="jumbotron jumbotron-carousel hidden-print">
			<div ="container">
				<div class="row">
					<div class="col-md-8 col-sm-8 text-center">
						<h1>Callisto ReInvented</h1>
						<p class="lead">
							<i class="fa fa-search"></i>
							Ideal Job Searching for College Students
						</p>
						<div class="action">
							<h2>
								<i class="fa fa-sign-in"></i>
								<%= link_to "Sign Up",  new_user_registration_path %>
							</h2>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<!-- Berkeley Icon goes here -->
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="ad">
				<i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
				<h3>...tomorrow we will run faster, stretch out our arms farther...
And then one fine morning— So we beat on, boats against the
current, borne back ceaselessly into the past.</h3>
			</div>
			<br></br>
			<div class="feature-list">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<h3>
							<i class="fa fa-search"></i>
							Easier Job Searching
						</h3>
						<p> Simplied functionalities </p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<h3>
							<i class="fa fa-pencil-square-o"></i>
							Effective Profile Editting
						</h3>
						<p> You can manage and edit your profile easily. </p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<h3>
							<i class="fa fa-graduation-cap"></i>
							Prepare your graduation
						</h3>
						<p> Find the perfect job before your graduation! </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>