<style type="text/css">
.jumbotron {
	margin-top: -10px;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#created').hide();


	$('#createButton').click(function(e){
		$('#message').hide();
		e.preventDefault();
		var company_name = $('#company_name').val()
		var company_info = $('#company_info').val()
//console.log(username);
		$.ajax({
				type: 'POST',
				url: '/company/add',
				data: JSON.stringify({company_name: company_name, company_info: company_info}),
				contentType: 'application/json',
				dataType: 'json',
				success: function(data) {
				//console.log(data['count']);
				if (data['errCode'] == SUCCESS) {
					$('#create').hide();
					$('#created').show();
					window.location.replace('/companies');
				}
			}
		});
	});
});
</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	        <div class="navbar-collapse collapse">
	          	<ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          	</ul>
	          	<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to "Log Out",  destroy_user_session_path, :method => :delete %>
					</li>
				</ul>
	      	</div>
	    </div>
  	</div>
  	<div class="container" style="width:500px;margin: 0 auto;">  
		<h1>New company</h1>
		<div id="create">
			<form>
				<h4 style="margin-left:20px">Company Name</h4>
				<input style="margin-left:20px" type="text" id="company_name">
				<h4 style="margin-left:20px">Company Info</h4>
				<textarea style="margin-left:20px; width:500px" id="company_info"></textarea>
				<br></br>
				<div style="margin-left:20px", id="createButton"> <%= button_to "Create company", companies_path, class: "btn btn-primary"%>
				</div>
			</form>
		</div>

		<!-- Success message when the company is created in the database -->
		<div id="created">
			Successfully created!
		</div>

		<div id="footer">
			<div class="navbar navbar-inner navbar-fixed-bottom">
			<center><%= link_to 'List of companies', companies_path %></center>
			</div>
		</div>
	</div>
</body>