// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-signin .for-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	width: 300px;
}

.btn-lg {
	float: left;
	margin-right: 5px;
	width: 100px;
}

.footer{
 height:40px;
 margin-top:-40px;
}